# Adressen für Abfrage vorbereiten
Quelle: https://data.geo.admin.ch/ch.bfs.gebaeude_wohnungs_register/CSV/meta.txt
Vorgehen:
- Importieren der csv-Files und alle zusammenfügen.
- Splitten und wieder zusammenfügen, sodass in einem Feld Strasse, Nummer und Ort einzeln aufgeführt sind.
- Das HR verlangt folgendes Format: "Strasse Nummer, Ort"
- Dataframe soll beinhalten: Gesamte Adresse, Ort, "Strasse Nummer, Ort", Koordinaten.

In [2]:
import pandas as pd
folderpath=r"C:\Users\Zoe\Desktop\maz-datenjournalismus\Daten_BR_Handelsreg"

In [2]:
# Datensätze importieren
df1=pd.read_csv(folderpath+"/Datensätze Adressen/1701.csv",sep=';') #3211 Baar
df2=pd.read_csv(folderpath+"/Datensätze Adressen/1702.csv",sep=';') #2127 Cham
df3=pd.read_csv(folderpath+"/Datensätze Adressen/1703.csv",sep=';') #1599 Hünenberg
df4=pd.read_csv(folderpath+"/Datensätze Adressen/1704.csv",sep=';') #1492 Menzingen
df5=pd.read_csv(folderpath+"/Datensätze Adressen/1705.csv",sep=';') #700 Neuheim
df6=pd.read_csv(folderpath+"/Datensätze Adressen/1706.csv",sep=';') # 1786 Oerägeri
df7=pd.read_csv(folderpath+"/Datensätze Adressen/1707.csv",sep=';') #1347 Rotkreuz
df8=pd.read_csv(folderpath+"/Datensätze Adressen/1708.csv",sep=';') # 1402 STeinhausen
df9=pd.read_csv(folderpath+"/Datensätze Adressen/1709.csv",sep=';') #1784 Unterägeri
df10=pd.read_csv(folderpath+"/Datensätze Adressen/1710.csv",sep=';') #1292 Walchwil
df11=pd.read_csv(folderpath+"/Datensätze Adressen/1711.csv",sep=';') #STadt Zug

In [3]:
#Testdf
df1_t=df1.head(10)
df2_t=df2.head(10)
df3_t=df3.head(10)

In [4]:
dff=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11]) # Hier füge ich alle zu einem Dataframe zusammen

In [5]:
dff.shape

(21630, 13)

In [6]:
dff.drop_duplicates("EGID").shape# Ah, es sind also weniger

(20705, 13)

In [20]:
#DFF Gemeinden ohne Stadt Zug
dff_g=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10])

In [4]:
dff

,EGID,EDID,GDEKT,GDENR,GDENAME,STRNAME,DEINR,PLZ4,PLZZ,PLZNAME,GKODE,GKODN,STRSP
0,310003,0,ZG,1701,Baar,Marktgasse,12,6340,0,Baar,2682511.588,1227773.739,de
1,310004,0,ZG,1701,Baar,Marktgasse,14,6340,0,Baar,2682523.028,1227784.067,de
2,310005,0,ZG,1701,Baar,Marktgasse,16,6340,0,Baar,2682540.091,1227792.603,de
3,310006,0,ZG,1701,Baar,Marktgasse,18,6340,0,Baar,2682554.253,1227799.894,de
4,310007,0,ZG,1701,Baar,Rigistrasse,2,6340,0,Baar,2682578.674,1227789.851,de
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4885,190989130,5,ZG,1711,Zug,Gartenstadt,2a,6300,0,Zug,2681388.557,1225726.638,de
4886,320661,6,ZG,1711,Zug,Im Rötel,20g,6300,0,Zug,2682522.000,1224586.000,de
4887,320662,6,ZG,1711,Zug,Im Rötel,22g,6300,0,Zug,2682538.000,1224616.000,de
4888,320944,6,ZG,1711,Zug,Rothusweg,14g,6300,0,Zug,2681994.000,1224899.000,de
4889,320661,7,ZG,1711,Zug,Im Rötel,20h,6300,0,Zug,2682522.000,1224586.000,de

# Rohliste aller Gemeinden
- Grundlage: https://data.geo.admin.ch/ch.bfs.gebaeude_wohnungs_register/CSV/meta.txt
- Hier Infos zu den verschiedenen Kürzel/Bezeichnungen der Spalten https://www.housing-stat.ch/de/benutzerhilfen/41.html
- Hier finde ich die Koordinaten zu den Adressen: https://data.geo.admin.ch/ch.bfs.gebaeude_wohnungs_register/CSV/meta.txt

In [4]:
dff

,EGID,EDID,GDEKT,GDENR,GDENAME,STRNAME,DEINR,PLZ4,PLZZ,PLZNAME,GKODE,GKODN,STRSP
0,310003,0,ZG,1701,Baar,Marktgasse,12,6340,0,Baar,2682511.588,1227773.739,de
1,310004,0,ZG,1701,Baar,Marktgasse,14,6340,0,Baar,2682523.028,1227784.067,de
2,310005,0,ZG,1701,Baar,Marktgasse,16,6340,0,Baar,2682540.091,1227792.603,de
3,310006,0,ZG,1701,Baar,Marktgasse,18,6340,0,Baar,2682554.253,1227799.894,de
4,310007,0,ZG,1701,Baar,Rigistrasse,2,6340,0,Baar,2682578.674,1227789.851,de
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4885,190989130,5,ZG,1711,Zug,Gartenstadt,2a,6300,0,Zug,2681388.557,1225726.638,de
4886,320661,6,ZG,1711,Zug,Im Rötel,20g,6300,0,Zug,2682522.000,1224586.000,de
4887,320662,6,ZG,1711,Zug,Im Rötel,22g,6300,0,Zug,2682538.000,1224616.000,de
4888,320944,6,ZG,1711,Zug,Rothusweg,14g,6300,0,Zug,2681994.000,1224899.000,de
4889,320661,7,ZG,1711,Zug,Im Rötel,20h,6300,0,Zug,2682522.000,1224586.000,de

In [6]:
# Nàchster Schritt: Zeilen so zusammennehmen, dass das Format "Strasse Nummer, Ort" entsteht.
# Gemeindename soll aber auch einzeln noch drin bleiben.

In [7]:
dff["Adresse"]=dff["STRNAME"]+" "+dff["DEINR"]+", "+ dff["PLZNAME"]

In [21]:
# für Gemeinden
dff_g["Adresse"]=dff_g["STRNAME"]+" "+dff_g["DEINR"]+", "+ dff_g["PLZNAME"]

In [11]:
dff.to_csv(folderpath+"/BRFrames/alle_Adressen")

In [22]:
# für Gemeinden
dff_g.to_csv(folderpath+"/BRFrames/alle_Adressen_ohne_Stadt")

In [9]:
dff_test=dff.head(10)

In [10]:
dff_test.to_csv(folderpath+"/BRFrames/adress_test")

In [23]:
dff1=dff[dff["Adresse"].str.contains("Baarerstrasse") & dff["PLZNAME"].str.contains("Zug")]

In [28]:
dff2=dff1.tail(40)

In [29]:
dff2_test=dff2.head(10)

In [31]:
dff2_test.to_csv(folderpath+"/BRFrames/test_gross_adresse")
# Hier ein Dataframe, in welchem auch Adressen stehen, die mehrer Seiten haben.

# Nun jene Adressen bereinigen, die keine Zahl haben
- Zuerst ein Dataframe generieren, welches die Nullen enthält. Sowie eines ohne die Nullen.
- danach die Adresse neu zusammenstellen bei den Nullen
- Wieder zusammenfügen

In [6]:
df11["Adresse"]=df11["STRNAME"]+" "+df11["DEINR"]+", "+ df11["PLZNAME"]

In [23]:
dff_nan=dff_g[dff_g["Adresse"].notnull()==False] # so kann man auch alle rausnehmen die Nullen haben

In [26]:
dff_nan

,EGID,EDID,GDEKT,GDENR,GDENAME,STRNAME,DEINR,PLZ4,PLZZ,PLZNAME,GKODE,GKODN,STRSP,Adresse
193,310249,0,ZG,1701,Baar,Feldmatt,NaN,6340,0,Baar,2682219.812,1227193.829,de,NaN
413,310500,0,ZG,1701,Baar,Schule Wiesental,NaN,6340,0,Baar,2681824.816,1228113.838,de,NaN
497,310590,0,ZG,1701,Baar,Blickensdorferbrücke,NaN,6340,0,Baar,2681879.000,1228390.000,de,NaN
992,311154,0,ZG,1701,Baar,Wishalde,NaN,6340,0,Baar,2683456.819,1227963.833,de,NaN
993,311155,0,ZG,1701,Baar,Ziegelhütte,NaN,6340,0,Baar,2683441.819,1227827.833,de,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
789,191581692,0,ZG,1710,Walchwil,Hinterbalis,NaN,6318,0,Walchwil,2682918.805,1218133.202,de,NaN
818,191696853,0,ZG,1710,Walchwil,Sattel,NaN,6318,0,Walchwil,2682704.700,1219514.850,de,NaN
850,191730019,0,ZG,1710,Walchwil,Freudenberg,NaN,6318,0,Walchwil,2681806.510,1218036.750,de,NaN
873,191730101,0,ZG,1710,Walchwil,Mittelschwändi,NaN,6318,0,Walchwil,2682263.160,1218945.140,de,NaN
989,191732304,0,ZG,1710,Walchwil,Weidli,NaN,6318,0,Walchwil,2681072.060,1219377.750,de,NaN

In [25]:
dff_gut=dff_g[dff_g["Adresse"].notnull()==True] # Hier alle ohne NaN

In [27]:
del dff_nan["Adresse"]

In [28]:
dff_nan["Adresse"]=dff_nan["STRNAME"]+", "+ dff_nan["PLZNAME"] # Nun formatiere ich diese ohne Nummern

C:\Users\Zoe\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
dff_nan

,EGID,EDID,GDEKT,GDENR,GDENAME,STRNAME,DEINR,PLZ4,PLZZ,PLZNAME,GKODE,GKODN,STRSP,Adresse
193,310249,0,ZG,1701,Baar,Feldmatt,NaN,6340,0,Baar,2682219.812,1227193.829,de,"Feldmatt, Baar"
413,310500,0,ZG,1701,Baar,Schule Wiesental,NaN,6340,0,Baar,2681824.816,1228113.838,de,"Schule Wiesental, Baar"
497,310590,0,ZG,1701,Baar,Blickensdorferbrücke,NaN,6340,0,Baar,2681879.000,1228390.000,de,"Blickensdorferbrücke, Baar"
992,311154,0,ZG,1701,Baar,Wishalde,NaN,6340,0,Baar,2683456.819,1227963.833,de,"Wishalde, Baar"
993,311155,0,ZG,1701,Baar,Ziegelhütte,NaN,6340,0,Baar,2683441.819,1227827.833,de,"Ziegelhütte, Baar"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
789,191581692,0,ZG,1710,Walchwil,Hinterbalis,NaN,6318,0,Walchwil,2682918.805,1218133.202,de,"Hinterbalis, Walchwil"
818,191696853,0,ZG,1710,Walchwil,Sattel,NaN,6318,0,Walchwil,2682704.700,1219514.850,de,"Sattel, Walchwil"
850,191730019,0,ZG,1710,Walchwil,Freudenberg,NaN,6318,0,Walchwil,2681806.510,1218036.750,de,"Freudenberg, Walchwil"
873,191730101,0,ZG,1710,Walchwil,Mittelschwändi,NaN,6318,0,Walchwil,2682263.160,1218945.140,de,"Mittelschwändi, Walchwil"
989,191732304,0,ZG,1710,Walchwil,Weidli,NaN,6318,0,Walchwil,2681072.060,1219377.750,de,"Weidli, Walchwil"

##  Die nun NAN-freie Liste wieder an die Hauptliste hängen

In [31]:
dff_g1=pd.concat([dff_gut,dff_nan])# Hier füge ich die "ent-NaN-ten wieder zusammen"

In [32]:
dff_g1.drop_duplicates("Adresse", inplace=True)

In [33]:
dff_g1.reset_index()

,index,EGID,EDID,GDEKT,GDENR,GDENAME,STRNAME,DEINR,PLZ4,PLZZ,PLZNAME,GKODE,GKODN,STRSP,Adresse
0,0,310003,0,ZG,1701,Baar,Marktgasse,12,6340,0,Baar,2682511.588,1227773.739,de,"Marktgasse 12, Baar"
1,1,310004,0,ZG,1701,Baar,Marktgasse,14,6340,0,Baar,2682523.028,1227784.067,de,"Marktgasse 14, Baar"
2,2,310005,0,ZG,1701,Baar,Marktgasse,16,6340,0,Baar,2682540.091,1227792.603,de,"Marktgasse 16, Baar"
3,3,310006,0,ZG,1701,Baar,Marktgasse,18,6340,0,Baar,2682554.253,1227799.894,de,"Marktgasse 18, Baar"
4,4,310007,0,ZG,1701,Baar,Rigistrasse,2,6340,0,Baar,2682578.674,1227789.851,de,"Rigistrasse 2, Baar"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15657,789,191581692,0,ZG,1710,Walchwil,Hinterbalis,NaN,6318,0,Walchwil,2682918.805,1218133.202,de,"Hinterbalis, Walchwil"
15658,818,191696853,0,ZG,1710,Walchwil,Sattel,NaN,6318,0,Walchwil,2682704.700,1219514.850,de,"Sattel, Walchwil"
15659,850,191730019,0,ZG,1710,Walchwil,Freudenberg,NaN,6318,0,Walchwil,2681806.510,1218036.750,de,"Freudenberg, Walchwil"
15660,873,191730101,0,ZG,1710,Walchwil,Mittelschwändi,NaN,6318,0,Walchwil,2682263.160,1218945.140,de,"Mittelschwändi, Walchwil"
15661,989,191732304,0,ZG,1710,Walchwil,Weidli,NaN,6318,0,Walchwil,2681072.060,1219377.750,de,"Weidli, Walchwil"

In [34]:
dff_g1.shape

(15662, 14)

In [36]:
dff_g1.to_csv(folderpath+"/BRFrames/Alle_Adressen_ohne_Stadt")# Hier die Grunddaten ohne die Stadt Zug

In [34]:
df11_1[df11_1["Adresse"].str.contains("General-Guisan-Strasse 35, Zug")==True]

,EGID,EDID,GDEKT,GDENR,GDENAME,STRNAME,DEINR,PLZ4,PLZZ,PLZNAME,GKODE,GKODN,STRSP,Adresse
2041,321887,0,ZG,1711,Zug,General-Guisan-Strasse,35,6300,0,Zug,2680632.882,1225788.06,de,"General-Guisan-Strasse 35, Zug"

In [2]:
# Nun für den ersten Teil der Gemeinden machen, um den rest noch zu scrapen
df_gem1=pd.read_csv(folderpath+"/BRFrames/Alle_Adressen_ohne_Stadt")

# Alle Adressen wieder zusammenfügen
Da ich zuerst nur die Stadt bearbeitete (bis ich das Problem mit dem Scrapen des Handelsregisters gelöst hatte und zeitweise zwei Computer gleichzeitig scrapen liess) hatte ich die Files in unterschiedlichen Ordnern. Weshalb ich am Ende nicht alle gemeinsam nochmals durch den Code liess sondern die Gemeinden und die Stadt am Ende des Codes zusammenfügte. 
Hier mache ich es zur Kontrolle der Zahlen (um Doppelte zu eliminieren)

In [3]:
df_gem1=pd.read_csv(folderpath+"/BRFrames/Alle_Adressen_ohne_Stadt")
df_zug=pd.read_csv(folderpath+"/BRFrames/adresse_zug")

In [4]:
df_alle_adressen=pd.concat([df_gem1,df_zug])

In [5]:
df_alle_adressen #offenbar gab es doppelte Adressnennungen

,Unnamed: 0,EGID,EDID,GDEKT,GDENR,GDENAME,STRNAME,DEINR,PLZ4,PLZZ,PLZNAME,GKODE,GKODN,STRSP,Adresse
0,0,310003,0,ZG,1701,Baar,Marktgasse,12,6340,0,Baar,2682511.588,1227773.739,de,"Marktgasse 12, Baar"
1,1,310004,0,ZG,1701,Baar,Marktgasse,14,6340,0,Baar,2682523.028,1227784.067,de,"Marktgasse 14, Baar"
2,2,310005,0,ZG,1701,Baar,Marktgasse,16,6340,0,Baar,2682540.091,1227792.603,de,"Marktgasse 16, Baar"
3,3,310006,0,ZG,1701,Baar,Marktgasse,18,6340,0,Baar,2682554.253,1227799.894,de,"Marktgasse 18, Baar"
4,4,310007,0,ZG,1701,Baar,Rigistrasse,2,6340,0,Baar,2682578.674,1227789.851,de,"Rigistrasse 2, Baar"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4685,3667,191702871,0,ZG,1711,Zug,Berghof,NaN,6300,5,Zugerberg,2683265.000,1223656.000,de,"Berghof, Zugerberg"
4686,3767,191769503,0,ZG,1711,Zug,Ahornstrasse,NaN,6300,0,Zug,2682031.000,1226133.000,de,"Ahornstrasse, Zug"
4687,3996,191774891,0,ZG,1711,Zug,Hochstock,NaN,6300,0,Zug,2683640.000,1222198.000,de,"Hochstock, Zug"
4688,4633,191844191,0,ZG,1711,Zug,Rosenbergstrasse,NaN,6300,0,Zug,2682254.000,1224676.000,de,"Rosenbergstrasse, Zug"
4689,4639,400017842,0,ZG,1711,Zug,Weidstrasse,NaN,6300,0,Zug,2682396.000,1224581.000,de,"Weidstrasse, Zug"

In [14]:
df_alle_adressen.to_csv(folderpath+"/BRFrames/alle_adressen_nan_bereinigt")